{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
